/* toc style */
.toc {
    height: 80%;
    position: fixed;
    top: 50%;
    left: 3%;
    width: 15%;
    transform: translateY(-50%);
    /*background-color: #f6f6f6;*/
    /*border: solid 1px #c9c9c9;*/
    /*border-radius: 5px;*/
    padding-bottom: 1rem;
    font-size: 12px;
    overflow: scroll !important;
}
.toc::-webkit-scrollbar {
    /*滚动条整体样式*/
    /*width : 7px;  !*高宽分别对应横竖滚动条的尺寸*!*/
    /*height: 1px;*/
}
/*.toc::-webkit-scrollbar-thumb {*/
/*    !*滚动条里面小方块*!*/
/*    border-radius: 7px;*/
/*    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);*/
/*    background-color: #444444;*/
/*}*/
/*.toc::-webkit-scrollbar-track {*/
/*    !*滚动条里面轨道*!*/
/*    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);*/
/*    border-radius: 7px;*/
/*    background   : #ededed;*/
/*}*/

.toc .page-header {
    margin: 1rem 0 1rem 25px;
}

.toc-nav ul {
    overflow:hidden;
    white-space:nowrap;
    line-height: 1rem;
}
.toc-nav{
    margin-left: -25px;
}

/* ignore h1 header */
.toc-nav ul ul ul {
    margin-left: -30px;
}

.toc-nav .nav-link {
    text-overflow:ellipsis;
    overflow:hidden;
    color: #333;
}


.toc-nav li.active .nav-link {
    background-color: #f6f6f6;
    color: var(--accent);
    border-left: solid 2px var(--accent);
}

/* Media Queries */
@media (max-width: 1080px) {
    main {
        max-width: 100%;
    }
    .toc {
        display: none;
    }
}